<h1>¡Bienvenido a vive Granel!</h1>
<h3>Para ofrecer, tenemos:</h3>

<div class="row">
  <% @products.each do |p| %>
    <div class="col-sm-4">
      <div class="card">
        <%= image_tag '1.jpg' %>
        <div class="card-body">
          <h5 class="card-title"><%= p.name %></h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat.</p>
          <h3 class="card-title">$<%= p.price %></h3>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
